.text-area {
    margin-bottom: 2px;
}

.text-area .unity-base-field__input {
    white-space: normal;
    padding: 2px 2px 2px 3px;
}

.text-area .unity-scroll-view {
    flex-grow: 1;
}

.text-area .unity-scroller--vertical {
    margin: -1px 0 -1px 1px;
}

.text-area .unity-base-slider__input {
    padding: 0 3px 0 0;
}