.text-area {
    margin-bottom: 4px;
}

.text-area .unity-base-field__input {
    white-space: normal;
    overflow: hidden;
    padding: 2px 3px;
}

.text-area .unity-scroll-view {
    flex-grow: 1;
}

.text-area .unity-scroller--vertical {
    margin-right: -1px;
}

.text-area .unity-scroller--vertical > .unity-scroller__slider {
    overflow: visible;
}
